In [1]:
print("hello world")

hello world

# string

In [47]:
my_string = 'mynameisekta'

In [48]:
print(my_string)

mynameisekta

In [49]:
print(my_string[0:4])

myna

In [50]:
number_string='123456789'

In [51]:
number_string[0]

'1'

# integer

In [52]:
my_int = 456

In [53]:
print(my_int)

456

In [54]:
(type(my_int))

int

# float

In [73]:
A=my_int/7

In [74]:
print(A)

65.14285714285714

In [55]:
type((my_int/4)*4)

float

In [57]:
1,000,000

(1, 0, 0)

In [58]:
"1,000,000"

'1,000,000'

# Data Structure: tuple

In [59]:
#len(tuple): Returns the length of the tuple.
'''
tuple[index]: Accesses the element at the specified index.
tuple.count(value): Returns the number of occurrences of a value in the tuple.
tuple.index(value[, start[, end]]): Returns the index of the first occurrence of a value in the tuple (optional start and end parameters limit the search range)
'''

'\ntuple[index]: Accesses the element at the specified index.\ntuple.count(value): Returns the number of occurrences of a value in the tuple.\ntuple.index(value[, start[, end]]): Returns the index of the first occurrence of a value in the tuple (optional start and end parameters limit the search range)\n'

In [60]:
my_tup = (1,3.17,6, 'dsfadgaf' , 'bob' , 'bob' , 65)

my_tup.count('bob')

In [62]:
my_tup.index(1)

0

In [63]:
my_tup.index('bob')

4

In [64]:
my_tup.index('bob',0,4)

ValueError: tuple.index(x): x not in tuple

In [11]:
my_tup.index('bob',0,5)

4

In [12]:
my_tup.index('bob',5,8)

5

# elements & def in a (tuple)

In [69]:
def el_in_tup(el,tup):
    try:
        return tup.index(el)
    except Exception:
        print(" I can't find that element")

In [70]:
el_in_tup('bob',my_tup)

4

In [71]:
el_in_tup('tom',my_tup)

 I can't find that element

In [16]:
def el_in_tup(el,tup):
    try:
        print (tup.index('bob',0,3))

SyntaxError: incomplete input (630712196.py, line 3)

# Data Structure: list

In [17]:
#len(list): Returns the length of the list.
'''    
list.append(item): Adds an item to the end of the list.
list.insert(index, item): Inserts an item at a specific index in the list.
list.extend(iterable): Appends all items from an iterable (such as another list) to the end of the list..
list.pop([index]): Removes and returns the item at the specified index. If no index is specified, it removes and returns the last item.
list.index(item[, start[, end]]): Returns the index of the first occurrence of an item within a specified range.
list.count(item): Returns the number of occurrences of an item in the list.
list.sort(key=None, reverse=False): Sorts the items in the list in ascending order. Optional parameters can be used for custom sorting.
list.reverse(): Reverses the order of the items in the list. 
'''''

'    \nlist.append(item): Adds an item to the end of the list.\nlist.insert(index, item): Inserts an item at a specific index in the list.\nlist.extend(iterable): Appends all items from an iterable (such as another list) to the end of the list..\nlist.pop([index]): Removes and returns the item at the specified index. If no index is specified, it removes and returns the last item.\nlist.index(item[, start[, end]]): Returns the index of the first occurrence of an item within a specified range.\nlist.count(item): Returns the number of occurrences of an item in the list.\nlist.sort(key=None, reverse=False): Sorts the items in the list in ascending order. Optional parameters can be used for custom sorting.\nlist.reverse(): Reverses the order of the items in the list. \n'

In [18]:
my_list = [1,6,9,1.11,5,'cfggffxhg,3.17']

In [19]:
len(my_list)

6

In [20]:
my_list.append('hello world')

In [21]:
print(my_list)

[1, 6, 9, 1.11, 5, 'cfggffxhg,3.17', 'hello world']

In [22]:
my_list.insert(4, "new item")

In [23]:
print(my_list)

[1, 6, 9, 1.11, 'new item', 5, 'cfggffxhg,3.17', 'hello world']

In [24]:
my_list.extend(['new','list','items'])

In [25]:
print(my_list)

[1, 6, 9, 1.11, 'new item', 5, 'cfggffxhg,3.17', 'hello world', 'new', 'list', 'items']

#  elements & def in a (list)

In [26]:
el_five = my_list.pop(8)

In [27]:
el_five

'new'

In [28]:
my_list

[1,
 6,
 9,
 1.11,
 'new item',
 5,
 'cfggffxhg,3.17',
 'hello world',
 'list',
 'items']

In [29]:
#slicing
my_list[2:7]

[9, 1.11, 'new item', 5, 'cfggffxhg,3.17']

# Data Structure: dictionary

In [30]:
#len(dict): Returns the number of key-value pairs in the dictionary.
'''
dict[key]: Accesses the value associated with the specified key.
dict[key] = value: Adds or updates a key-value pair.
del dict[key]: Deletes the key-value pair with the specified key.
dict.keys(): Returns a view object of all keys in the dictionary.
dict.values(): Returns a view object of all values in the dictionary.
dict.items(): Returns a view object of all key-value pairs in the dictionary.
'''

'\ndict[key]: Accesses the value associated with the specified key.\ndict[key] = value: Adds or updates a key-value pair.\ndel dict[key]: Deletes the key-value pair with the specified key.\ndict.keys(): Returns a view object of all keys in the dictionary.\ndict.values(): Returns a view object of all values in the dictionary.\ndict.items(): Returns a view object of all key-value pairs in the dictionary.\n'

In [31]:
my_json = {'first name':'jill','last name':'thompson','age':31,'hair':'red','dob':'1989-09-29' }

In [32]:
my_json

{'first name': 'jill',
 'last name': 'thompson',
 'age': 31,
 'hair': 'red',
 'dob': '1989-09-29'}

In [33]:
len(my_json)

5

In [34]:
my_json['dob']

'1989-09-29'

In [35]:
my_json['age']

31

In [36]:
my_json['age']=34

In [37]:
my_json['age']

34

# Data Structure: set

# Algorithm Concept:  if...else Logic

#i want to do division on an integer But I don't want to have the default behaviour of returning a float, if the 
#other integer goes it evenly if it doesn't go into it evenly then it should return a float.

In [38]:
if 5%2 == 0:
    print(int(5/2))
else:
    print(6/2)

3.0

In [39]:
def int_or_float_div(int1,int2):
    if int1%int2 == 0:
        return int(int1/int2)
    else:
        return int1/int2

In [40]:
int_or_float_div(10,5)

2

In [41]:
int_or_float_div(10,3)

3.3333333333333335

# Algorithm Concepts: for loops

In [42]:
for i in my_tup:
    print(i)

1
3.17
6
dsfadgaf
bob
bob
65

In [43]:
for i in my_tup:
    try:
        print(i+"hello world")
    except Exception:
        print(i)

1
3.17
6
dsfadgafhello world
bobhello world
bobhello world
65

In [44]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [45]:
for i in range (0, len(my_tup)):
    print(my_tup[i])

1
3.17
6
dsfadgaf
bob
bob
65

# Algorithm Concepts: while loops

In [46]:
condition = 5
while condition < 10:
    print(condition)
    condition = condition + 1

5
6
7
8
9