In [344]:
print("hello world")

hello world

# string

In [345]:
my_string = 'mynameisekta'

In [346]:
print(my_string)

mynameisekta

In [347]:
print(my_string[0:4])

myna

In [348]:
number_string='123456789'

In [349]:
number_string[0]

'1'

# integer

In [350]:
my_int = 456

In [351]:
print(my_int)

456

In [352]:
(type(my_int))

int

# float

In [353]:
A=my_int/7

In [354]:
print(A)

65.14285714285714

In [355]:
type((my_int/4)*4)

float

In [356]:
1,000,000

(1, 0, 0)

In [357]:
"1,000,000"

'1,000,000'

# Data Structure: tuple

In [358]:
'''
len(tuple): Returns the length of the tuple.
tuple.index(value): Accesses the element at the specified index.
tuple.count(value): Returns the number of occurrences of a value in the tuple.
tuple.index(value[, start[, end]]): Returns the index of the first occurrence of a value in the tuple
(optional start and end parameters limit the search range)
'''

'\nlen(tuple): Returns the length of the tuple.\ntuple.index(value): Accesses the element at the specified index.\ntuple.count(value): Returns the number of occurrences of a value in the tuple.\ntuple.index(value[, start[, end]]): Returns the index of the first occurrence of a value in the tuple\n(optional start and end parameters limit the search range)\n'

In [359]:
my_tup = (1,3.17,6, 'ramayana' , 'bob' , 'bob' , 65 )

In [360]:
len(my_tup)

7

In [361]:
print(my_tup)

(1, 3.17, 6, 'ramayana', 'bob', 'bob', 65)

In [362]:
my_tup.index(1)

0

In [363]:
my_tup.index('bob')

4

In [364]:
my_tup.index('bob',0,4)

ValueError: tuple.index(x): x not in tuple

In [365]:
my_tup.index('bob',3,5)

4

In [366]:
my_tup.index('bob',5,8)

5

In [367]:
my_tup.count('bob')

2

In [368]:
my_tup.count(65)

1

# elements & def in a (tuple)

In [369]:
def el_in_tup(el,tup):
    try:
        return tup.index(el)
    except Exception:
        print("I can't find that element") #NONE#

In [370]:
el_in_tup('bob',my_tup)

4

In [371]:
el_in_tup('tom',my_tup)

I can't find that element

In [372]:
def el_in_tup(el,tup):
    try:
        return tup.index('ramayana',0,3)
    except Exception:
        print ("Nothing")

In [373]:
el_in_tup('ramayana',my_tup)

Nothing

In [374]:
def el_in_tup(el,tup):
    try:
        return tup.index('ramayana',2,6)
    except Exception:
        print ("Nothing")

In [375]:
el_in_tup('ramayana',my_tup)

3

# Data Structure: list

In [376]:
'''
len(list): Returns the length of the list.    
list.append(item): Adds an item to the end of the list.
list.insert(index, item): Inserts an item at a specific index in the list.
list.extend(iterable): Appends all items from an iterable (such as another list) to the end of the list..
list.pop([index]): Removes and returns the item at the specified index. If no index is specified,
                   it removes and returns the last item.
list.index(item[, start[, end]]): Returns the index of the first occurrence of an item within a specified range.
list.count(item): Returns the number of occurrences of an item in the list.
list.sort(key=None, reverse=False): Sorts the items in the list in ascending order. Optional parameters can be 
                                    used for custom sorting.
list.reverse(): Reverses the order of the items in the list. 
'''''

'\nlen(list): Returns the length of the list.    \nlist.append(item): Adds an item to the end of the list.\nlist.insert(index, item): Inserts an item at a specific index in the list.\nlist.extend(iterable): Appends all items from an iterable (such as another list) to the end of the list..\nlist.pop([index]): Removes and returns the item at the specified index. If no index is specified,\n                   it removes and returns the last item.\nlist.index(item[, start[, end]]): Returns the index of the first occurrence of an item within a specified range.\nlist.count(item): Returns the number of occurrences of an item in the list.\nlist.sort(key=None, reverse=False): Sorts the items in the list in ascending order. Optional parameters can be \n                                    used for custom sorting.\nlist.reverse(): Reverses the order of the items in the list. \n'

In [377]:
my_list = [1,6,9,1.11,5,'cfggffxhg,3.17']

In [378]:
len(my_list)

6

In [379]:
my_list.append('hello world')

In [380]:
print(my_list)

[1, 6, 9, 1.11, 5, 'cfggffxhg,3.17', 'hello world']

In [381]:
my_list.insert(4, "new item")

In [382]:
print(my_list)

[1, 6, 9, 1.11, 'new item', 5, 'cfggffxhg,3.17', 'hello world']

In [383]:
my_list.extend(['new','list','items'])

In [384]:
print(my_list)

[1, 6, 9, 1.11, 'new item', 5, 'cfggffxhg,3.17', 'hello world', 'new', 'list', 'items']

#  elements & def in a (list)

In [385]:
el_two = my_list.pop(2)

In [386]:
el_two

9

In [387]:
el_five = my_list.pop(5)

In [388]:
el_five

'cfggffxhg,3.17'

In [389]:
my_list

[1, 6, 1.11, 'new item', 5, 'hello world', 'new', 'list', 'items']

In [390]:
#slicing
my_list[2:7]

[1.11, 'new item', 5, 'hello world', 'new']

# Data Structure: dictionary

In [391]:
'''
len(dict): Returns the number of key-value pairs in the dictionary.
dict[key]: Accesses the value associated with the specified key.
dict[key] = value: Adds or updates a key-value pair.
del dict[key]: Deletes the key-value pair with the specified key.
dict.keys(): Returns a view object of all keys in the dictionary.
dict.values(): Returns a view object of all values in the dictionary.
dict.items(): Returns a view object of all key-value pairs in the dictionary.
'''

'\nlen(dict): Returns the number of key-value pairs in the dictionary.\ndict[key]: Accesses the value associated with the specified key.\ndict[key] = value: Adds or updates a key-value pair.\ndel dict[key]: Deletes the key-value pair with the specified key.\ndict.keys(): Returns a view object of all keys in the dictionary.\ndict.values(): Returns a view object of all values in the dictionary.\ndict.items(): Returns a view object of all key-value pairs in the dictionary.\n'

In [392]:
my_json = {'first name':'jill','last name':'thompson','age':31,'hair':'red','dob':'1989-09-29' }

In [393]:
my_json

{'first name': 'jill',
 'last name': 'thompson',
 'age': 31,
 'hair': 'red',
 'dob': '1989-09-29'}

In [394]:
len(my_json)

5

In [395]:
my_json['dob']

'1989-09-29'

In [396]:
my_json['age']

31

In [397]:
my_json['age']=34

In [398]:
my_json['age']

34

In [399]:
my_json.keys()

dict_keys(['first name', 'last name', 'age', 'hair', 'dob'])

In [400]:
my_json.values()

dict_values(['jill', 'thompson', 34, 'red', '1989-09-29'])

In [401]:
my_json.items()

dict_items([('first name', 'jill'), ('last name', 'thompson'), ('age', 34), ('hair', 'red'), ('dob', '1989-09-29')])

# Data Structure: set

# Algorithm Concept:  if...else Logic

i want to do division on an integer But I don't want to have the default behaviour of returning a float, if the 
other integer goes it evenly if it doesn't go into it evenly then it should return a float.

In [402]:
if 6%2 == 0:
    print(int(6/2))
else:
    print(6/2)

3

In [403]:
def int_or_float_div(int1,int2):
    if int1%int2 == 0:
        return int(int1/int2)
    else:
        return int1/int2

In [404]:
int_or_float_div(10,5)

2

In [405]:
int_or_float_div(10,3)

3.3333333333333335

# Algorithm Concepts: for loops

In [406]:
for i in my_tup:
    print(i)

1
3.17
6
ramayana
bob
bob
65

In [407]:
for i in my_tup:
    try:
        print(i+"hello world")
    except Exception:
        print(i)

1
3.17
6
ramayanahello world
bobhello world
bobhello world
65

In [408]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [409]:
for i in range (0, len(my_tup)):
    print(my_tup[i])

1
3.17
6
ramayana
bob
bob
65

# Algorithm Concepts: while loops

In [410]:
condition = 5
while condition < 10:
    print(condition)
    condition = condition + 1

5
6
7
8
9